name: PR Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch: # 添加手动触发入口
  issue_comment:
    types: [created]

env:
  HTTP_PROXY: 'http://127.0.0.1:7890'
  HTTPS_PROXY: 'http://127.0.0.1:7890'

jobs:
  pr-test:
    if: |
      github.event_name == 'pull_request' ||
      (github.event_name == 'issue_comment' && github.event.issue.pull_request && contains(github.event.comment.body, 'rerun pr test'))
    runs-on: [ self-hosted, macOS ]
    permissions:
      contents: read
      pull-requests: read
      actions: read
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            clean: false
            persist-credentials: true
            fetch-depth: 0

      - name: Init
        run: npm run init

      - name: Install dependencies
        run: npm i

      - name: Run tests
        run: npm run test:quiet
